/* Bootstrap Overrrides START */
#navbarSupportedContent {
    margin-inline: auto;
}

/* Bootstrap Overrrides END */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('./fonts/Roboto-Regular.ttf') format('woff2');
}
@font-face {
    font-family: 'Ubuntu-Regular';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('./fonts/Ubuntu-Regular.ttf') format('woff2');
}

:root {
    --yellow: #f5c518;
    --white: #fff;
    --section-spacing: 2rem;
    --blue: rgb(87,153,239);
}