.ul-first {
}

.ul-second {
    margin-left: auto;
    margin-right: 0;
}

.main-search {
    min-width: 300%;
}

.search-form {
    position: relative;
}

#search-result-container {
    position: absolute;
    top: 40px;
    min-width: 300%;
    display: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    max-height: 300px;
    overflow-y: scroll;
    z-index: 4;
}

.movie-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-card .img {
    width: 100%;
}

.navbar {
    border-bottom: 1px solid #fff;
    background: linear-gradient(86deg, rgba(0,0,0,1) 0%, rgba(97,97,95,1) 48%, rgba(0,0,0,1) 98%);
    position: sticky;
    top: 0;
}

.nav-css.navbar-light .navbar-nav .nav-link.active {
    color: var(--white);
}

