.ul-first {
}

.ul-second {
    margin-left: auto;
    margin-right: 0;
}

.main-search {
    min-width: 300%;
}

.search-form {
    position: relative;
}

#search-result-container {
    position: absolute;
    top: 40px;
    min-width: 300%;

}

