.ul-first {
}

.ul-second {
    margin-left: auto;
    margin-right: 0;
}

.main-search {
    min-width: 300%;
}

.search-form {
    position: relative;
}

#search-result-container {
    position: absolute;
    top: 40px;
    min-width: 300%;
    display: none;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    max-height: 300px;
    overflow-y: scroll;
}

.movie-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-card .img {
    width: 100%;
}

