.dt-title-row>.col:not(:nth-child(1)),
.creators-row>div,
.actors-row>div,
.info-list-row > div,
#genre > div {
    flex-grow: 0;
}

#imdb-rating-nums,
#creator-list-content,
#actor-list-content,
#genre {
    display: flex;
}
.movie-plot-row {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.movie-plot-row > div:last-child {
    flex-grow: 0;
}
#movie-title {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
}

#image-poster {
    min-width: 380px;
}

#creator-list-content,
#actor-list-content,
.info-list-row > div {
    gap: 10px;
    white-space: nowrap;
}