.md-page::before {
    /* content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
    background: linear-gradient(86deg, rgba(0,0,0,1) 0%, rgba(97,97,95,1) 48%, rgba(0,0,0,1) 98%); */
}

body {
    background: linear-gradient(86deg, rgba(0,0,0,1) 0%, rgba(97,97,95,1) 48%, rgba(0,0,0,1) 98%);

}
.dt-title-row>.col:not(:nth-child(1)),
.creators-row>div,
.actors-row>div,
.info-list-row > div,
#genre > div {
    flex-grow: 0;
}

#imdb-rating-nums,
#creator-list-content,
#actor-list-content,
#genre {
    display: flex;
}
.movie-plot-row {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.movie-plot-row > div:last-child {
    flex-grow: 0;
}
#movie-title {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
    color:var(--white);
}

#image-poster {
    min-width: 380px;
}

#creator-list-content,
#actor-list-content,
.info-list-row > div {
    gap: 10px;
    white-space: nowrap;
}

.dt-title-row {
    padding-block: var(--section-spacing);
}

#actor-list-content {
    gap: 20px;
}

#movie-plot {
    font-family: 'Ubuntu-Regular';
    font-size: larger;
    color: var(--white);
    letter-spacing: 1px;
    line-height: 1.8;
    mix-blend-mode: exclusion;
}

.info-list-row {
    gap: 10px;
}


#info-list-content.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.info-list-row > div {
    border-radius: 11px;
    border: 1px solid var(--white);
    color: var(--white);
}

#image-poster-row hr {
    color: var(--white) !important;
    position: relative;
    /* left: -10px; */
}

#movie-creators-row {
    padding-left: 0;
}

.actor-label {
    color: var(--white);
}

#actor-list-content > div {
    color: var(--blue);
    font-weight: bold;
}

#actor-list-content > div:hover {
    cursor: pointer;
    text-decoration: underline;
}

.dt-title-col > div:nth-child(1) {
    font-weight: bold;
    color: gray;
    text-transform: uppercase;
}

.dt-title-col > div:nth-child(1),
.dt-title-col > div:nth-child(2) {
    color: whitesmoke;
    text-align: center;
}

#imdb-rating-nums {
    justify-content: center;
    align-items: center;
    line-height: 1;

}
#imdb-rating-nums > div:nth-child(1) {
    font-weight: bold;
    font-size: 130%;
    line-height: 1.2;
    color: var(--yellow);
}

#rt-rating {
    font-size: 130%;

}

#awards-row {
    color: white;
    text-align: center;
    padding-block: calc(1.2 * var(--section-spacing));
    margin-block: calc(1.2 * var(--section-spacing));
    position: relative;
    width: fit-content;
    margin-inline: auto;
    font-size: 2rem;
    letter-spacing: 6px;
    line-height: 1;
}

#awards-row blockquote {
    margin: revert;
}


#awards-row::before,
#awards-row::after {
    
    position: absolute;
    color: var(--blue);
    z-index: 3;
    font-size: 8rem;
}

#awards-row::before {
    content: open-quote;
    inset: -20px auto auto -20px;
}
#awards-row::after {
    content: close-quote;
    inset: auto -40px -40px auto;
}

#genre {
    justify-content: center;
    font-size: 3em;
    padding-block: calc(1.2 * var(--section-spacing));
    margin-block: calc(1.2 * var(--section-spacing));
    --gap: 50px;
    gap: var(--gap);
}

#genre > div {
    position: relative;
    color: #e3e3e3;
}

#genre > div::before,
#genre > div::after {
    position: absolute;
    content: '';
    width: 70%;
    top: 60%;
    height: 2%;
    background-color: pink;
    /* opacity: 0.5; */
    z-index: -1;
}

#genre > div::before {
    left: calc(-0.5*var(--gap));
    background: linear-gradient(90deg, var(--yellow) 0%, #ffdd6350 10% , transparent 100%);

}
#genre > div::after {
    /* display: none; */
    right: calc(-0.5*var(--gap));
    background: linear-gradient(90deg, transparent 0%, #ffdd6350 90%, var(--yellow) 100%);

}
#genre > div:nth-child(1):before,
#genre > div:last-child:after
 {
    display: none;
}

#trivia {
    color: var(--white);
    text-align: center;
}

